<!-- <div class="row">
  <h3 id="titulo">TEST TITULO</h3>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
          
       
<div style="display: block">
          <canvas baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                     [chartType]="doughnutChartType"></canvas>
        </div>  
      </div>
    </div>
  </div>
</div> -->

<div style="display: block">
          <canvas baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutchartLabels"
                      [chartType]="doughnutChartType"></canvas>
        </div>  